.todoContainer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
  
.divStyle {
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    width: 90%;
    height: 100%;
}

.lineStyle {
    padding: 10px;
    width: 90%;
    margin: auto;
}
